# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.melos_workspace/

# IDEs
.idea/
.vscode/
*.iml

# Project-specific
.env
.env.*
*.log

# OS-specific
.DS_Store
Thumbs.db

# Flutter ephemeral directory
flutter/ephemeral/

# Visual Studio specific
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio build folders
x64/
x86/

# Visual Studio cache files
*.[Cc]ache
!*.[Cc]ache/
